*.pth

*.pt

model_config/

venv/

__pycache__

.sixth/

notes.txt

test.py
gpu_check.py

# later remove or do something with it
ml/train.py

*.json

misc/

node_modules/

# this just for script
*.bat

*.env

