@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
    --color-primary: #FFFBDE;
    --color-secondary: #91C8E4;
    --color-tertiary: #749BC2;
    --color-forth: #4682A9;
}

@layer base {
    * {
        box-sizing: border-box;
        font-family: 'Inter', system-ui, sans-serif;
    }
}

@layer components {
    /* For layout */
    .nav-text {
        @apply text-xl font-bold cursor-pointer;
    }

    /* Quick div centering */
    .div-center-col {
        @apply flex flex-col justify-center items-center;
    }
    /* for small device, flex-col instead */
    .div-center-row {
        @apply flex sm:flex-row justify-center items-center flex-col;
    }

    /* For selection menu after textbox */
    .context-menu, .serious-menu, .length-menu {
        @apply p-2 pl-5 pr-5 border rounded-full hover:cursor-pointer;
    }
    .selected {
        @apply bg-tertiary text-white hover:cursor-default;
    }
    .selection-div {
        @apply flex flex-col items-center w-full justify-start gap-5 sm:flex-row sm:gap-10;
    }

    /* For user/admin */
    .section-text {
        @apply font-bold text-3xl;
    }
    .sub-text {
        @apply font-bold text-2xl;
    }
    .basic-info-container {
        @apply flex flex-col justify-center items-center gap-5 border rounded-3xl p-10 w-full 
            transition-all duration-300 ease-in-out hover:scale-105;
    }

    /* For user */
    /* None */

    /* For admin */
    .admin-info-main-container {
        @apply flex flex-col justify-center items-center mt-10 w-full gap-5;
    }
    .grid-content {
        @apply border p-5 border-r-0 border-t-0 overflow-hidden break-all;
    }

    /* global components */
    .global-btn {
        @apply p-2 pl-5 pr-5 border rounded-full hover:cursor-pointer bg-forth text-white 
            transition ease-in-out hover:scale-105;
    }
    .global-input {
        @apply p-2 pl-10 pr-10 border rounded-full w-full;
    }
    .global-transition-hover {
        @apply transition-all hover:scale-105 ease-in-out duration-300;
    }
    .global-transition-properties {
        @apply transition-all ease-in-out duration-200;
    }
    .global-pretransition {
        @apply opacity-0 translate-y-2.5;
    }
}

@layer utilities {
    
}

