@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
    --color-primary: #FFFBDE;
    --color-secondary: #91C8E4;
    --color-tertiary: #749BC2;
    --color-forth: #4682A9;
}

@layer base {
    * {
        box-sizing: border-box;
        font-family: 'Inter', system-ui, sans-serif;
    }
}

@layer components {
    .nav-text {
        @apply text-xl font-bold cursor-pointer;
    }
    /* Quick div centering */
    .div-center-col {
        @apply flex flex-col justify-center items-center;
    }
    /* for small device, flex-col instead */
    .div-center-row {
        @apply flex sm:flex-row justify-center items-center flex-col;
    }

    /* For selection menu after textbox */
    .context-menu, .serious-menu, .length-menu {
        @apply p-2 pl-5 pr-5 border rounded-full hover:cursor-pointer;
    }
    .selected {
        @apply bg-tertiary text-white hover:cursor-default;
    }
    .selection-div {
        @apply flex flex-col items-center w-full justify-start gap-5 sm:flex-row sm:gap-10;
    }

    /* For user */
    .brief-info-container {
        @apply flex flex-col justify-center items-center border p-10 gap-5 rounded-3xl w-full;
    }
    .basic-info-container {
        @apply flex flex-col justify-center items-center gap-2 border rounded-3xl p-10;
    }

    /* global components */
    .global-btn {
        @apply p-2 pl-5 pr-5 border rounded-full hover:cursor-pointer bg-forth text-white 
            transition ease-in-out hover:scale-105;
    }
    .global-input {
        @apply p-2 pl-10 pr-10 border rounded-full w-full;
    }

}

