<!DOCTYPE html>
<html>

<head>
    <title>{{ title|default("Default Title") }}</title>
    <link href="/output.css" rel="stylesheet">
</head>

<body class="bg-primary font-display">
    <header>
        <nav class="flex justify-around items-center p-5 bg-tertiary text-white fixed top-0 left-0 right-0 z-50">
            <h1 class="nav-text" onclick="location.href = '/'">Logo</h1>
            <div class="relative group" id="dropdown">
                <p class="nav-text global-transition" id="dropdown-text" onclick="location.href = '/login'">Login/Register</p>
            </div>
        </nav>
    </header>

    <main class="mt-20">
        {% block content %}{% endblock %}
    </main>

    <footer class="flex justify-center items-center flex-col p-3 mt-5 bg-secondary gap-2.5">
        <div>
            <p>Copyright &copy; 2026 | All rights reserved</p>
        </div>
        <div>
            <p>Contact: 0123456789 | This website is a website</p>
        </div>
    </footer>
</body>
</html>