{% extends "layout.html" %}

{% block content %}
    <div class="flex -mt-3 -mb-5 overflow-hidden">
        <div class="hidden lg:flex w-2/5 h-auto">
            <img src="/images/placeholder.png" alt="placeholder">
        </div>

        <div class="div-center-row w-full lg:w-3/5 h-auto min-h-[110vh] global-transition-properties global-pretransition" 
            id="input-container">
            <div class="div-center-col p-10 gap-12 border rounded-3xl w-full max-w-lg">
                <div>
                    <p class="font-bold text-4xl text-center mb-2">Register</p>
                    <p class="">Unlease the full power of making excuses</p>
                </div>

                <div>
                    <form action="/auth" method="POST" class="div-center-col items-start gap-2">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="username"
                            class="global-input sm:w-100 w-75" maxlength="50" required>
                        <label for="username">Email</label>
                        <input type="email" name="email" id="email" placeholder="email"
                            class="global-input sm:w-100 w-75" maxlength="50" required>
                        <label for="username">Phone Number</label>
                        <input type="number" name="phone" id="phone" placeholder="phone"
                            class="global-input sm:w-100 w-75" required>
                        
                        <label for="username">Password</label>
                        <input type="password" name="password" id="password" placeholder="password"
                            class="global-input sm:w-100 w-75" required> 
                        <label for="username">Confirm Password (Type your password again)</label>
                        <input type="password" name="confirmPassword" id="confirm-password" placeholder="password"
                            class="global-input sm:w-100 w-75" required> <br>

                        <p class="self-center">Already have an account? 
                            <a href="/login" class="text-forth hover:cursor-pointer hover:text-blue-700">
                                Login
                            </a>
                        </p>

                        <button type="submit" class="global-btn self-center w-50">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/loginRegister.js"></script>
{% endblock %}